body {
  margin: 0px;
padding:0px;
}
.topnav {
    overflow: hidden;
    background-color: #2D2D2D;
    margin: 0px;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: MV Boli;
  }
  
  .topnav a:hover {
    background-color:deepskyblue;
    color: black;
  }
  
  .topnav a.active {
    background-color: deepskyblue;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 620px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }